<div class="section bg-dark sectiondiv">
    <div class="container">
        <div class="row g-4">
            <div class="col-sm-3">
                <h5 class="footer_contact">CONTACT INFORMATION</h5>
                <ul class="list_unstyled">
                    <li>Call Us 24/7 Free</li>
                    <li class="footerphoneno">0133 4367 810</li>
                    <li>60, 29th Street, San Francisco, CA 94110, United States</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="footer_info">INFORMATION</h5>
                <ul class="list_unstyled">
                    <li>About Us</li>
                    <li>Delivery Information</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Contact Us</li> 
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="footer_cust">CUSTOMER SERVICE</h5>
                <ul class="list_unstyled">
                    <li>Specials</li>
                    <li>Returns</li>
                    <li>Site Map</li>
                    <li>Brands</li>
                    <li>Gift Certificates</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="footer_acc">MY ACCOUNT</h5>
                <ul class="list_unstyled">
                    <li>My Account</li>
                    <li>Order History</li>
                    <li>Wish List</li>
                    <li>Affiliates</li>
                    <li>Newsletter</li>
                </ul>
            </div>
        </div>
    </div>
</div>
