<section class="container">
    <div class="row content d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="box shadow bg-white p-4">
                <h3 class="mb-4 text-center fs-1">Email Verification</h3>
                <form class="mb-3">
                   <div class="form-floating mb-3">
                       <input type="number" class="form-control rounded-0" id="floatingInput" placeholder="OTP"/>
                       <label id="floatingInput">OTP</label>
                   </div>
                   <!-- <div class="form-check mb-3">
                       <a href="#">resend</a>
                   </div> -->
                   <div class="d-grid gap-2 mb-3">
                       <button type="button" class="btn btn-dark btn-lg border-0 rounded-0 loginbtn">Verify</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</section>
