<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/cache/catalog/Main-banner-1-1903x640.jpg" class="d-block w-100" alt="Main-banner-1-1903x640">
      </div>
      <div class="carousel-item">
        <img src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/cache/catalog/Main-banner-2-1903x640.jpg" class="d-block w-100" alt="Main-banner-2-1903x640">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>