<div class="caroselbelowi">
    <div class="container text-center">
        <div class="row">
            <div class="carouselbelowimgs1">
                <div class="imgdiv1">
                    <img class="carouselbelowimgs" src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/catalog/Cms-banner-1.jpg" alt="Cms-banner-1"/>
                    <div class="description">
                        <div class="title">Hot Gadgets</div>
                        <div class="subtitle">Electronics Sale 20% Off</div>
                        <div class="bannerbutton">shop now</div>
                    </div>
                </div>
                <div class="imgdiv2">
                    <img class="carouselbelowimgs" src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/catalog/Cms-banner-2.jpg" alt="Cms-banner-2"/>
                    <div class="description">
                        <div class="title">Best Sale Deal</div>
                        <div class="subtitle">New iWatch Series - 5 20% Off</div>
                        <div class="bannerbutton">shop now</div>
                    </div>
                </div>
            </div>

            <div class="carouselbelowimgs2">
                <div class="imgdiv3"><img class="carouselbelowimgs" src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/catalog/Cms-banner-3.jpg" alt="Cms-banner-3"/>
                    <div class="description">
                        <div class="title">Hot Mobiles</div>
                        <div class="subtitle">iphone Festival Sale 20% Off</div>
                        <div class="bannerbutton">shop now</div>
                    </div>
                </div>
                <div class="imgdiv4"><img class="carouselbelowimgs" src="https://opencart.templatemela.com/OPC10/OPC100240/OPC1/image/catalog/Cms-banner-4.jpg" alt="Cms-banner-4"/>
                    <div class="description">
                        <div class="title">4K Television</div>
                        <div class="subtitle">Smart Tv & Television 4K HD LED</div>
                        <div class="bannerbutton">shop now</div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
